<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bancodetiempo">

    <application
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BancodeTiempo">
        <activity
            android:name=".DetallesOfertas"
            android:parentActivityName=".ElementoListado"
            android:exported="true" />
        <activity
            android:name=".MenuTemporal"
            android:exported="true" />
        <activity
            android:name=".PaginaInicio"
            android:exported="true" />

        <activity
            android:name=".PaginaVerificacion"
            android:parentActivityName=".PaginaPrincipal"
            android:exported="true">
        </activity>

        <activity
            android:name=".PaginaPrincipal"
            android:parentActivityName=".Login"
            android:exported="true">
        </activity>

        <activity
            android:name=".Bienvenida"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Ajustes"
            android:exported="true" />
        <activity
            android:name=".FiltroOfertas"
            android:parentActivityName=".MenuTemporal"
            android:exported="true">
        </activity>
        <activity
            android:name=".DocumentosUsuario"
            android:exported="true" />
        <activity
            android:name=".NuevaOferta"
            android:exported="true" />
        <activity
            android:name=".DatosUsuario"
            android:exported="true" />
        <activity
            android:name=".PerfilUsuario"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true"/>
        <activity
            android:name=".listadoOfertas"
            android:parentActivityName=".FiltroOfertas"
            android:exported="true"/>
        <activity
            android:name=".PaginaNavegacion"
            android:exported="true" />
    </application>

</manifest>